/*GERAL*/
body{
	background-image: url("C:/Users/Daniel/Documents/TCC/imgs/health.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


/*PÁGINA DE CONTATO*/
.col-sm-8,.col-sm-2{
    
    height: 550px;   
}

textarea.form-control {
	height: 150px;
}
.contact-icons{
	/*height: 335px;*/
	height: 250px;
}
.contact{
	line-height: 0.5;
	color: white;
	height: 335px;		
}

#contato{
	margin-top: 50px
}
#address{
	margin-top: 85px;
}
#email{
	margin-top: 30px;
}

.jumbotron{
	height: 100px;
	background-color: transparent!important;
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo{
	height: 50px;
	margin-left: 0;
	margin-top: 0;
}
/*FIM PÁGINA DE CONTATO*/

/*BARRA DE NAVEGAÇÃO*/

.navbar-light .navbar-nav .nav-link{
	color:white;
}
/*FIM BARRA DE NAVEGAÇÃO*/

/*HOME*/
.service{
	float: left;
	border: 2px solid black;
	height:400px;
	width: 200px;
	border: 2px solid black;
	margin-left: 100px;
}


.jumbotron h1{
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}

img{
	max-width: 100%;
}

.card-title{
	text-align: center;
}

.card{
	float: left;
	background-color: transparent!important;
	border-radius: 0.2;
	border: 2px solid white!important;
}
.card-image img{
	width: 215px;
    margin-top: 20px;
    height: 205px;
}
}

/*FIM HOME*/

/*LOGIN*/

html,body{
	margin:0;
	height: 100%;
}


#loginIcon{
	width: 10%;
	margin-left: 45%
}

/*FIM LOGIN*/

/*SOBRE*/

.sobre-texto{
	color: white;
	font-size: 18px;
	text-align: justify;
}
.sobre-imgs img{
	width: 100%;
	height: 100%;
}

/*FIM SOBRE*/

/*RODAPÉ*/
.footer{
	height: 237px;
	background-color: #33383C;
	margin-top: 25px;
}
.footer img{
	width: 50%;

}
#email-footer{
	margin-top: 20px; 
}
#address-footer{
	margin-top: 38px;
}
#contato-footer{
	margin-top: 23px;
}
.footer p{
	font-size: 12px;
}
.contact-icons-footer{
	height: 185px;
	margin-top: 27px;
	padding: 0;
}
.contact-footer{
	line-height: 0.5;
	color: white;
	height: 185px;
	margin-top: 27px;
	padding: 0;		
}
.pages-footer{
	height: 185px;
	margin-top: 15px;
	padding: 0;
}
.footer ul li{
	margin-top: 15px;
	list-style-type: none;
}
.footer a{
	color: white;
}
.social-networks p{
	font-size: 13px;
    text-align: justify;
    color: white;
    margin-bottom: 0;
    margin-top: 25px;
}
.social-networks img{
	width: 120px;
    height: 110px;
    margin-left: 50px;
    margin-top: -12px;
}
.social-networks{
	height: 185px;
}